body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Apply styles to the background */
.background {
    background-image: url('../images/img.jpg');
    background-size: cover;
    background-position: center;
    background-color: #ec8c8c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 40px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #2803f7;
    text-align: center;
    margin-bottom: 20px;
}

form {
    margin-top: 20px;
    text-align: center;
}

input[type=text] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type=submit] {
    background-color: #5642C5;
    color: white;
    border: none;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

input[type=submit]:hover {
    background-color: #3d2f9b;
}

.result-container {
    margin-top: 20px;
    padding: 16px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result-text {
    color: #1c08f2;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.prediction-result {
    text-align: center;
    margin-top: 20px;
}
.welcome-message {
    text-align: center;
    color: #cb2a8d;
    font-weight: bold;
    margin-bottom: 10px; /* Adjust the margin as needed */
}

.social-links {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #ffffff; /* White background for social links */
    padding: 10px;
    border-radius: 8px;
}

.social-links a {
    margin: 0 10px;
    text-decoration: none;
    display: inline-block;
    transition: transform 0.3s ease-in-out;
}

.social-links a img {
    width: 40px;
    height: 40px;
}

.social-links a:hover {
    transform: scale(1.2);
}
.negative-text {
    font-weight: bold;
    color: red;
}

.positive-text {
    font-weight: bold;
    color: green;
}


.prediction-text {
    font-weight: bold;
    color: #FF5733; /* Choose your desired color */
}
